* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

p{
    position: absolute;
    top: 10px;
    left: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

img{
    position: absolute;
    width: 30vw;
    object-fit: cover;
}
